<template name="caretakerModal">
	<div id="caretakerUpdateModal" class="modal fade" tabindex="-1" data-width="760" style="display:none;">
		<div class="modal-dialog">
			<div class="modal-content">
				{{> updateCaretakerModalInner}}
			</div>
		</div>
	</div>
  <div id="caretakerCreateModal" class="modal fade" tabindex="-1" data-width="760" style="display:none;">
		<div class="modal-dialog">
			<div class="modal-content">
				{{> createCaretakerModalInner}}
			</div>
		</div>
	</div>
</template>
