<template name="createStorageModalInner">
		<div class="modal-header">
			<h4>Create new Storage</h4>
		</div>
		<div class="modal-body">
			<div class="form-group" id="createStorage">
        <div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-qrcode"></i></span>
					<input class="form-control" disabled name="uuid" value="{{uniqueId}}">
				</div>
				<div class="input-group top-buffer">
					<span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
					<input class="form-control" name="name" value="" placeholder="{{_ 'namePlaceholder'}}">
				</div>
				<div class="input-group top-buffer">
					<span class="input-group-addon"><i class="glyphicon glyphicon-comment"></i></span>
					<input class="form-control" name="description" value="" placeholder="{{_ 'descriptionPlaceholder'}}">
				</div>
        <div class="input-group top-buffer">
					<span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
					<input class="form-control" name="location" value="" placeholder="{{_ 'locationPlaceholder'}}">
				</div>
      </div>
		</div>
		<div class="modal-footer">
			<button type="button" data-dismiss="modal" class="btn btn-primary" id="doCreateStorage">{{_ 'create'}}</button>
		</div>
</template>
