<template name="departmentModal">
	<div id="departmentUpdateModal" class="modal fade" tabindex="-1" data-width="760" style="display:none;">
		<div class="modal-dialog">
			<div class="modal-content">
				<span class="button glyphicon glyphicon-remove-circle" data-dismiss="modal" aria-label="Close"></span>
				{{> updateDepartmentModalInner}}
			</div>
		</div>
	</div>
	<div id="departmentCreateModal" class="modal fade" tabindex="-1" data-width="760" style="display:none;">
		<div class="modal-dialog">
			<div class="modal-content">
				<span class="button glyphicon glyphicon-remove-circle" data-dismiss="modal" aria-label="Close"></span>
				{{> createDepartmentModalInner}}
			</div>
		</div>
	</div>
</template>